<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edges</key>
	<array>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<real>19.3</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<real>19.3</real>
			<key>y</key>
			<real>21.3</real>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<real>21.3</real>
		</dict>
	</array>
	<key>beacons</key>
	<dict>
		<key>29572</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>25971</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<real>21.3</real>
		</dict>
		<key>14613</key>
		<dict>
			<key>x</key>
			<real>19.3</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>64121</key>
		<dict>
			<key>x</key>
			<real>19.3</real>
			<key>y</key>
			<real>21.3</real>
		</dict>
		<key>21604</key>
		<dict>
			<key>x</key>
			<real>10.1</real>
			<key>y</key>
			<real>12.7</real>
		</dict>
		<key>3791</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<key>1509</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>17382</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<real>21.3</real>
		</dict>
		<key>35378</key>
		<dict>
			<key>x</key>
			<real>19.3</real>
			<key>y</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
