<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edges</key>
	<array>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<real>1.3</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<real>1.3</real>
			<key>y</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>x</key>
			<real>1.54</real>
			<key>y</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>x</key>
			<real>1.54</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<real>5.1</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<real>5.1</real>
			<key>y</key>
			<real>3.3</real>
		</dict>
		<dict>
			<key>x</key>
			<real>1.54</real>
			<key>y</key>
			<real>3.3</real>
		</dict>
		<dict>
			<key>x</key>
			<real>1.54</real>
			<key>y</key>
			<real>2.45</real>
		</dict>
		<dict>
			<key>x</key>
			<real>1.3</real>
			<key>y</key>
			<real>2.45</real>
		</dict>
		<dict>
			<key>x</key>
			<real>1.3</real>
			<key>y</key>
			<real>7.05</real>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<real>7.05</real>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>beacons</key>
	<dict>
		<key>21604</key>
		<dict>
			<key>x</key>
			<real>3.84</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>39236</key>
		<dict>
			<key>x</key>
			<real>5.1</real>
			<key>y</key>
			<real>3.3</real>
		</dict>
		<key>45301</key>
		<dict>
			<key>x</key>
			<real>1.54</real>
			<key>y</key>
			<real>3.3</real>
		</dict>
		<key>31135</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<real>7.05</real>
		</dict>
		<key>35378</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
