<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edges</key>
	<array>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<real>7.97</real>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<real>13.03</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.66</real>
			<key>y</key>
			<real>13.03</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.66</real>
			<key>y</key>
			<real>10.8</real>
		</dict>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>10.8</real>
		</dict>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>8.98</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.66</real>
			<key>y</key>
			<real>8.98</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.66</real>
			<key>y</key>
			<real>7.09</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.77</real>
			<key>y</key>
			<real>7.09</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.77</real>
			<key>y</key>
			<real>8.84</real>
		</dict>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>8.84</real>
		</dict>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>5.15</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.77</real>
			<key>y</key>
			<real>5.15</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.77</real>
			<key>y</key>
			<real>6.01</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.67</real>
			<key>y</key>
			<real>6.01</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.67</real>
			<key>y</key>
			<real>5.01</real>
		</dict>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>5.01</real>
		</dict>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>3.56</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.67</real>
			<key>y</key>
			<real>3.56</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.67</real>
			<key>y</key>
			<real>2.6</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.77</real>
			<key>y</key>
			<real>2.6</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.77</real>
			<key>y</key>
			<real>3.6</real>
		</dict>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>3.6</real>
		</dict>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<real>4.77</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>x</key>
			<real>4.77</real>
			<key>y</key>
			<real>2.57</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.67</real>
			<key>y</key>
			<real>2.57</real>
		</dict>
		<dict>
			<key>x</key>
			<real>4.67</real>
			<key>y</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>x</key>
			<real>3.37</real>
			<key>y</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>x</key>
			<real>3.37</real>
			<key>y</key>
			<real>7.97</real>
		</dict>
	</array>
	<key>beacons</key>
	<dict>
		<key>29572</key>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>5.15</real>
		</dict>
		<key>64121</key>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>8.84</real>
		</dict>
		<key>14613</key>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>10.8</real>
		</dict>
		<key>25971</key>
		<dict>
			<key>x</key>
			<real>4.66</real>
			<key>y</key>
			<integer>13</integer>
		</dict>
		<key>21604</key>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>45301</key>
		<dict>
			<key>x</key>
			<real>3.37</real>
			<key>y</key>
			<real>1.5</real>
		</dict>
		<key>31135</key>
		<dict>
			<key>x</key>
			<real>3.37</real>
			<key>y</key>
			<real>7.09</real>
		</dict>
		<key>35378</key>
		<dict>
			<key>x</key>
			<real>0.3</real>
			<key>y</key>
			<integer>13</integer>
		</dict>
		<key>3791</key>
		<dict>
			<key>x</key>
			<real>4.88</real>
			<key>y</key>
			<real>3.3</real>
		</dict>
		<key>1509</key>
		<dict>
			<key>x</key>
			<real>8.42</real>
			<key>y</key>
			<real>3.3</real>
		</dict>
		<key>17382</key>
		<dict>
			<key>x</key>
			<real>4.88</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
